/layout_kicad/rescue-backup
/layout_kicad/*.kicad_pcb-bak
uploadSensorData/data/homie/config.json
uploadSensorData/.vscode/settings.json
/layout_kicad/*.bak
/mqtt_telegram_bot/.pytest_cache
/mqtt_telegram_bot/tests/__pycache__
__pycache__
